@import "./CI-UX-variables.scss";

.btn-sdp-primary-sm{
    width: $btn-small !important;
}

.btn-sdp-primary-md{
    width: $btn-medium !important;
}

.btn-sdp-primary-lg{
    width: $btn-large !important;
}

.btn-sdp-secondary-sm{
    width: $btn-small !important;
}

.btn-sdp-secondary-md{
    width: $btn-medium !important;
}
.btn-sdp-secondary-lg{
    width: $btn-large !important;
}
