@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Yaldevi&display=swap');

$bgcolor: #f0f1f8;
$fontfamily: "Nunito", sans-serif;//"Battambang";
$fontsizeMedium: 15px;
$fontsizeLarge: 18px;
$fontsizeSmall: 12px;
$font-weight: 400;
$btn-primary: #c02a2a;
$btn-secondary: #fff;
$color-gray-shade: #66718c;
$color-gray-light-shade: #d9dde8;
$font-style: normal;