@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Yaldevi&display=swap');

$bgcolor: #f0f1f8;
$fontfamily: "Nunito", sans-serif;//"Battambang";
$fontsizeMedium: 15px;
$fontsizeLarge: 18px;
$fontsizeSmall: 12px;
$font-weight: 400;
$color-black: #000;
$color-white: #fff;
$color-gray-shade: #66718c;
$color-gray-light-shade: #d9dde8;
$font-style: normal;



html,
body {
  height: 100%;
}

.w-10
{
  width: 10% !important;
}

.w-15
{
  width: 15% !important;
}

.w-20
{
  width: 20% !important;
}

.modal-content
{
 border-radius: 25px !important;
 box-shadow: rgba(15, 15, 15, 0.486) 0px 5px 15px;
}

.btn-close:hover {
  background-color: red;
}

.modal-backdrop {
  background-color: #afafaf !important;
}
body,
table,
tr,
td,
th,
button {
  font-size: $fontsizeMedium !important;
  font-family: $fontfamily !important;
  font-style: $font-style !important;
}
.form-check-label,
.form-control,
.form-select {
  font-size: $fontsizeMedium !important;
  font-family: $fontfamily !important;
  font-style:$font-style !important;
}
.badge {
  font-weight: $font-weight !important;
  font-size: $fontsizeSmall !important;
  font-style: $font-style!important;
}


.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

@media (min-width: 576px) {
  .force-overflow {
    overflow: auto;
    height: auto;
  }
}

@media (min-width: 768px) {
  .force-overflow {
    overflow: auto;
    height: auto;
  }
}

@media (min-width: 992px) {
  .force-overflow {
    overflow: auto;
    height: 450px;
  }
}

@media (min-width: 1200px) {
  .force-overflow {
    overflow: auto;
    height:400px;
  }
}

@media (min-width: 1400px) {
  .force-overflow {
    overflow: auto;
    height: 400px;
  }
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d8d8d8;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-black;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  background-color: #d8d8d8;
}

.button-Secondary {
  background-color: $color-white;
  color: $color-black;
  border: 1px solid $color-black;
}

.button-Primary {
  background-color: $color-black;
  color: $color-white;
  border: 1px solid $color-black;
}

.button-Secondary:hover {
  background-color: $color-black;
  color: $color-white;
  border-color: $color-black;
  box-shadow: 0 0 0 0.25rem rgb(201 201 201 / 50%);
}

.button-Primary:hover {
  background-color: $color-white;
  color: #000;
  border-color: $color-black;
  box-shadow: 0 0 0 0.25rem rgb(201 201 201 / 50%);
}

.bg-gray {
  background-color: $bgcolor !important;
}

.tiles-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.tiles-shadow:hover {
  background: #d9e7ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #dffff3,
    #d9e7ff 105%
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #dffff3, #d9e7ff 105%);
  transform: scale(1);
  transition: all 200ms ease-in 0s;
}

.nav-tabs .nav-link {
  border: none !important;
}
.nav-link {
  font-weight: 500 !important;
  color: $color-gray-shade !important;
}
.nav-tabs .nav-link.active {
  color: #000 !important;
  border-bottom: 2px solid !important;
}

.tbl-header {
  background-color: $color-gray-shade !important;
  color: white;
}

.accordion-button {
  background-color: $color-gray-shade !important;
  color: white !important;
}

.list-group-item-action:hover .hidden-button {
  display: block !important;
}

.hidden-button {
  display: none !important;
}

.form-control:focus,
.form-select:focus {
  border-color: #bfbfbf !important;
  box-shadow: 0 0 0 0.25rem rgb(33 37 41 / 10%) !important;
}

.button-Primary:focus,
.button-Secondary:focus {
  border-color: $color-gray-shade;
  box-shadow: 0 0 0 0.25rem rgb(201 201 201 / 50%);
}

.mr-15 {
  margin-right: 15px !important ;
}

.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}
.t-left {
  text-align: left;
}

.form-check-input:focus {
  border-color: $color-black !important;
  outline: 0;
  box-shadow:0 0 0 0.25rem #b7b7b7  !important;
}

.form-check-input:checked {
  background-color: $color-black !important;
  border-color: $color-black !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #b7b7b7  !important;
}

.box-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.w-100 {
  width: 100% !important;
}

.btn-gray {
  border-color: $color-gray-light-shade !important;
  background-color: $color-gray-light-shade !important;
}

.btn-gray:hover,
.btn-gray:focus {
  border-color:$color-gray-light-shade;
  box-shadow: 0 0 0 0.25rem #b5bcd38f;
}

.bgLogin-linear {
  height: 100vh;
  background: $color-gray-light-shade;
  background: -webkit-linear-gradient(
    to right,
    $color-white 0%,
    $color-white 50%,
    $color-gray-light-shade 50%, $color-gray-light-shade 100%
  );
  background: linear-gradient(
    to right,
    $color-white 0%,
    $color-white 50%,
    $color-gray-light-shade 50%, $color-gray-light-shade 100%
  );
}

.otp-textbox{
  height: 50px !important;
  width: 15% !important;
}
.otp{
  display: ruby !important;
}

.hide
{
  display: none !important;
}


.swal2-confirm {
  margin-right: 10px !important;
}

// background: #d9dde8; /* fallback for old browsers */
// background: -webkit-linear-gradient(270deg, #cbced8,#fff ); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(270deg,  #cbced8,#fff);
// transform: scale(1);
// transition: all 200ms ease-in 0s;
